:host {
  display: block;
  padding: 1rem 0;
}

.form-group {
  margin: 0 auto;
  display: block;
}

.card-body {
  font-size: 1.5rem;
  background-color: #f8f9fa; /* Light background for the card */
}

.card-header {
  background-color: white; /* Dark green header */
  color:#777;
  font-weight: bold;
}

.accordion .card-header button {
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: 500;
  color:  #2F5233;
  text-shadow:#cc8a0e;
   /* Match the theme color */
}

.accordion .card-body {
  font-size: 1.3rem;
}

.table {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.table th,
.table td {
  font-size: 1.2rem;
}

.table th {
  background-color:white;  /* Header row with dark green background */
  color: #2F5233;
}

.table td {
  font-size: 1.2rem;
}

.table .btn {
  background-color:white;
  color:#2F5233;
}

.table .btn:disabled {
  background-color: #ccc;
  color: #777;
}

.input-group .form-control {
  font-size: 1.1rem;
}

.input-group-append .btn {
  background-color:white;
  color: #2F5233;
}

.input-group-append .btn:hover {
  background-color: white;
}

.card-header button {
  text-decoration: none;
  color: #b4e2b9;
}
