<!-- Search Field -->
<div class="form-group" style="width: 500px; margin: 0 auto;">
  <label for="searchField" style="font-weight: bold; color: #2F5233;">Search Books</label>
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      id="searchField"
      placeholder="Search books"
      (input)="searchBooks(searchField.value)"
      #searchField
    />
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">
        <i class="bi bi-search" style="color: #2F5233;"></i>
      </button>
    </div>
  </div>
</div>

<!-- Result Card -->
<div class="card" style="background-color: #f8f9fa; margin-bottom: 1rem;">
  <div class="card-body">
    Showing Results for {{ getBookCount() }} Books.
  </div>
</div>

<!-- Accordion for Book Categories -->
<div class="accordion" id="accordionExample">
  <div *ngFor="let item of booksToDisplay; let i = index">
    <div class="card">
      <div class="card-header" id="heading{{i}}" style="background-color: white; color:#2F5233; ">
        <h2 class="mb-0">
          <button
            class="btn btn-link"
            type="button"
            (click)="toggleCollapse(i)"
            [attr.aria-expanded]="isCollapsed[i]"
            [attr.aria-controls]="'collapse' + i"
          >
            <strong>{{ item.category | titlecase }}</strong> - {{ item.subCategory | titlecase }}
          </button>
        </h2>
      </div>

      <!-- Collapsible content -->
      <div
        [ngClass]="{'collapse': !isCollapsed[i], 'show': isCollapsed[i]}"
        class="card-body"
      >
        <!-- Table of Books -->
        <table class="table table-bordered">
          <thead class="thead-dark" style="background-color: #2F5233; color: white;">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Title</th>
              <th scope="col">Book Author</th>
              <th scope="col">Price</th>
              <th scope="col">Availability</th>
              <th scope="col">Order</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let element of item.books">
              <td>{{ element.id }}</td>
              <td>{{ element.title }}</td>
              <td>{{ element.author }}</td>
              <td>{{ element.price | currency }}</td>
              <td>{{ element.ordered ? 'Not Available' : 'Available' }}</td>
              <td>
                <button class="btn btn-outline-secondary" [disabled]="element.ordered" (click)="orderBook(element)">
                  Order
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
