<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #2F5233;">
  <div class="container-fluid">
    <!-- Title of the Navbar -->
    <a class="navbar-brand text-white" href="#">PILLARS OF KNOWLEDGE</a>

    <!-- Spacer to push user info to the right (Bootstrap's ms-auto) -->
    <div class="d-flex ms-auto align-items-center">

      <!-- User info display if logged in -->
      <div *ngIf="loggedIn" class="me-3 text-white">
        <span>Hi, {{name}}</span>
      </div>

      <!-- Profile and Log Out buttons -->
      <button class="btn btn-outline-light ms-3" [routerLink]="('/login')">Login</button>
      <button class="btn btn-outline-light ms-2" routerLink="/profile">Profile</button>
      <button class="btn btn-danger ms-2" (click)="logout()">Log Out</button>
    </div>
  </div>
</nav>
