mat-sidenav-container {
  height: 100vh;

  mat-sidenav {
    width: 250px;
  }

  mat-sidenav-content {
    display: flex;
    flex-direction: column;

    main {
        padding: 1rem;
      flex: 1 1 auto;
    }
  }
}


// ----------
// .main-content {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   min-height: 100vh; /* Ensures the content is vertically centered */
//   text-align: center; /* Centers text */
//   padding: 1rem; /* Adds spacing around the content */
// }

// header, footer {
//   width: 100%;
// }


// ===========

/* Sidebar - ensure it stays fixed and takes full height */


/* Optional: Adjust the margin of the main content to match sidebar width */


