<div class="container mt-5" style="margin-top: 85px;" >
  <!-- Add New Category -->
  <div class="card">
    <div class="card-header" style="color: #2F5233;background-color:white;">
      <h1>Add New Category</h1>
    </div>

    <div class="card-body">
      <form [formGroup]="newCategory">
        <div class="mb-3">
          <label for="category" class="form-label">Category</label>
          <input type="text" class="form-control" id="category" formControlName="category" />
        </div>

        <div class="mb-3">
          <label for="subCategory" class="form-label">SubCategory</label>
          <input type="text" class="form-control" id="subCategory" formControlName="subCategory" />
        </div>

        <button type="button" class="btn btn-custom" [disabled]="newCategory.invalid" (click)="addNewCategory()">
          Add
        </button>
      </form>
    </div>
  </div>

  <!-- Add New Book -->
  <div class="card mt-4">
    <div class="card-header" style="color: #2F5233;background-color:white;">
      <h1>Add New Book</h1>
    </div>

    <div class="card-body">
      <form [formGroup]="newBook">
        <div class="mb-3">
          <label for="title" class="form-label">Book Title</label>
          <input type="text" class="form-control" id="title" formControlName="title" />
        </div>

        <div class="mb-3">
          <label for="author" class="form-label">Book Author</label>
          <input type="text" class="form-control" id="author" formControlName="author" />
        </div>

        <div class="mb-3">
          <label for="price" class="form-label">Book Price</label>
          <input type="number" class="form-control" id="price" formControlName="price" />
        </div>

        <div class="mb-3">
          <label for="category" class="form-label">Category</label>
          <select class="form-select" id="category" formControlName="category">
            <option value="" disabled selected>Select a Category</option>
            <option *ngFor="let option of categoryOptions" [value]="option.value">
              {{ option.displayValue | titlecase }}
            </option>
          </select>
        </div>

        <button type="button" class="btn btn-custom" [disabled]="newBook.invalid || newBook.get('category')?.value === null" (click)="addNewBook()">
          Add
        </button>
      </form>
    </div>
  </div>

  <!-- Delete Existing Book -->
  <div class="card mt-4">
    <div class="card-header" style="color: #c42424;background-color:white;">
      <h2>Delete Existing Book</h2>
    </div>

    <div class="card-body">
      <form>
        <div class="mb-3">
          <label for="bookId" class="form-label">Book ID</label>
          <input type="number" class="form-control" id="bookId" [formControl]="deleteBook" />
        </div>

        <button type="button" class="btn btn-danger" [disabled]="deleteBook.invalid" (click)="deleteExistingBook()">
          Delete
        </button>
      </form>
    </div>
  </div>
</div>
