/* Custom Styles */
body {
  background-color: #f8f9fa;
  color: #333;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
}

.card-header {
  background-color: #2F5233; /* Custom color for the card header */
}

.card-header h1 {
  color: #2F5233;
  font-size: 1.5rem;
}

.card-body {
  background-color: #e2f7e096;
}

/* Custom button styles */
.btn-custom {
  background-color: #2F5233; /* Green background color */
  color: white;
  border-color: #2F5233;
}

.btn-custom:hover {
  background-color: white;
  color: #2F5233;
  border-color: #2F5233;
}

.btn-danger {
  background-color: #d9534f; /* Red background color for the delete button */
  color: white;
  border-color: #d9534f;
}

.btn-danger:hover {
  background-color: #c42424; /* Darker red on hover */
  border-color: #c42424;
}

/* Make input fields and buttons full-width on small screens */
@media (max-width: 576px) {
  .card {
    width: 100%;
  }

  .form-control,
  .form-select {
    width: 100%;
  }
}
